<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Yomeal">
    <test name="Regression">
         <classes>
         	 <class name="tests.BasicTest"/>
         	 <class name="tests.ProfileTest"/>
             <class name="tests.MealItemTest"/> 
             <class name="tests.SearchTest"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->